
*{
    margin: 0px;
    padding: 0px;
}

.moreMain{
    width: 50px;
}

.texttitle{
    margin: 40px 0px 0px 50px;
    padding: 0px;
    height: 40px;
    color:  #F08080;
    background-color: none;
}

.cardcontainer{
    margin: 0 auto ;
    margin-top: 20px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.maincard{
    margin: 10px 0px;
    padding: 0px;
    width: 200px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px; 
}

.moreimg{
    width: 200px;
    height: 200px;
    align-items:center; 
}

.moreimg:hover{
    border-radius: 10px; 
    transform: scale(1.1);
    transition: 0.7s;
}

.morediv{
    width: 95%;
}

.subtitle{
    width: 150px;
    text-overflow: clip;
    font-size: small;
    color: rgb(50, 50, 50);
}
.linkpointer{
    cursor: pointer;
    margin: 3px 0px;
}

.CardSlot{
    display: flex;
    position: relative;
    height: 350px;
    flex-direction: column;
}

.tagtitle{
    color: gray;
}