
*{
    margin: 0px;
    padding: 0px;
}

.moreMain{
    width: 50px;
}

.texttitle{
    margin-top: 20px;
    margin-left: 15px;
    padding: 0px;
    height: 50px;
    color:  #F08080;
}

.cardcontainer{
    margin: 0 auto ;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 650px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.maincard{
    margin: 0px;
    padding: 0px;
    width: 150px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px; 
}

.moreimg{
    width: 150px;
    height: 150px;
    align-items:center; 
}

.moreimg:hover{
    border-radius: 10px; 
    transform: scale(1.1);
    transition: 0.7s;
}

.morediv{
    width: 95%;
}
.subtitle{
    width: 150px;
    text-overflow: clip;
}
.linkpointer{
    cursor: pointer;
}

