
*{
    margin: 0px;
    padding: 0px;
}

.toprankTotal{
    float : right;
}

.numBer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.toprank{
    margin: 20px;
    width: 250px;
    height: 20%;
    cursor: pointer;
}

.topimg{
    width: 100px;
    height: 100px;
    border-radius: 10px;   
    cursor: pointer;
}

.topimg:hover{
    transform: scale(1.05);
    transition: 0.7s;
    
}
.ranknum{
    margin-left: 8px;
    width: 13px;
    color:  #F08080;
}

.topranktitle{
    margin-left: 25%;
    width: 60%;
    color:  #F08080;
    padding-top: 20px;
    padding-bottom: 20px;
}

.toprankfooter{
    margin-left: 28%;
    width: 45%;
    text-align: center;
    cursor: pointer;
    font-size: 8px;
    padding-bottom: 20px;
}
.rank{
    height: 90%;
}

.rankBorder {
    margin-top: 30%;
    border: 1px solid lightcoral;
    border-radius: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    width: auto;
    height: 88%;
    overflow: hidden;
    overflow-y: scroll;
    margin-right: 30px;
}

.ranksubtitle{
    width: 100%;
    font-size: small;
    font-weight: 300;
}

.rankBorder::-webkit-scrollbar{
    display: none;
}