
*{
    margin: 0px;
    padding: 0px;
}

.toprankTotal{
    float : right;
}

.numBer{
    width: 30px;
    display: flex;
    flex-direction: row;
}

.toprank{
    margin: 20px;
    width: 250px;
    height: 20%;
    cursor: pointer;
}

.topimg{
    width: 80px;
    height: 100%;
    border-radius: 10px;   
    cursor: pointer;
}

.topimg:hover{
    transform: scale(1.05);
    transition: 0.7s;
    
}
.ranknum{
    margin-left: 5px;
    width: 13px;
    color:  #F08080;
}

.topranktitle{
    margin-top: 30%;
    width: 250px;
    height: 10%;
    text-align: center;
    color:  #F08080;
}

.toprankfooter{
    width: 250px;
    height: 10%;
    text-align: center;
    cursor: pointer;
}
.rank{
    height: 85%;
    overflow: hidden;
    overflow-y: scroll;
}