.imgconfig {
    width: 700px;
    height: 500px;
    position: relative;
    cursor: pointer;
}

.view {
    width: 700px;
    height: 500px;
    display: inline-flex;
    overflow: hidden;
    margin: 0 auto;
}

.slide-index {
    position: absolute;
    display: flex;
    gap: 20px;
    margin-top: 500px;
    cursor: pointer;
    list-style: none;
    margin-left: 185px;
    z-index: 3;
}

.index-item.active {
    color: blue;
}

.slide {
    width: 800px;
    display: flex;
    margin: 0 auto;
}

.prev-button {
    width: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.next-button {
    width: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
}