* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MySettingContainer {
    margin: 80px;
    width: 80%;
}

.MySettingName {
    margin: auto;
    margin-left: 10px;

}

.profContainer {
    width: 80%;
}

.profBox {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid gray;
}

.prof {
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.my_btn {
    width: 35px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightgray;

}

.my_btn:hover {
    background-color: gray;
}

[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    accent-color: #F08080;
    cursor: pointer;
}

.box1 {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.box2 {
    width: 20%;
    display: flex;
}

.button {
    display: inline-flex;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;

    background-color: #F08080;
}

.iconAlert {
    font-size: 50px;
    
}